bin/
obj/
.vs/
.vscode/
.idea/
.wix/
artifacts/
dist/
*.user
*.suo
*.pdb
*.wixpdb
*.msi
*.zip
*.exe
msi-decompiled*
installer-package/
lite-folder/
lite-installer/
package/
setup-source/
single-installer/
DeepCool.Cases.Digital.Lite/
